.navbar {
  padding: 0px;
  .navegador {
    @include PropiedadesFlex(flex, row-reverse, none);
    padding: 10px;
    background-color: rgb(0, 0, 0);
    .botonNav {
      background-color: $colorMain;
    }
    .navbar-nav {
      .nav-link {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        color: rgb(255, 255, 255);
        
      }
      .nav-link.active {
        color: $colorMain;
      }
    }
  }
}

