@import "reset.scss";
@import "variables.scss";
@import "nav.scss";
@import "footer.scss";
@import "cards.scss";
@import "boton.scss";
@import "galeria.scss";

.infoMain{
    background-image: url(../images/virutafondo.png);
    background-repeat: no-repeat;
    background-position: 50% 110%; 
    padding-bottom: 75px;  
    background-size: 300px;
}





