* {
  margin: 0%;
  padding: 0%; }

.navbar {
  padding: 0px; }
  .navbar .navegador {
    display: flex;
    flex-direction: row-reverse;
    justify-content: none;
    padding: 10px;
    background-color: black; }
    .navbar .navegador .botonNav {
      background-color: #e0a70a; }
    .navbar .navegador .navbar-nav .nav-link {
      color: white; }
    .navbar .navegador .navbar-nav .nav-link.active {
      color: #5b5e5d; }

footer {
  background-color: black;
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  margin-top: auto; }
  footer p {
    display: flex;
    flex-direction: none;
    justify-content: center; }

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

.card {
  border-color: black;
  border: 5px solid; }

@media (min-width: 992px) {
  .card {
    width: 65%; }
  .tarjeta {
    display: flex;
    justify-content: center; } }

@media (min-width: 1200px) {
  .card {
    width: 50%; } }

.btn {
  background-color: black;
  color: white;
  border: none; }

.galeria {
  overflow-x: hidden; }
  .galeria div img {
    padding: 10px; }

.infoMain {
  background-image: url(../images/virutafondo.png);
  background-repeat: no-repeat;
  background-position: 50% 110%;
  padding-bottom: 75px;
  background-size: 300px; }

.sobreCarpinteria, .tareasCarpintero {
  width: 900px; }
  .sobreCarpinteria p, .tareasCarpintero p {
    font-family: Arial, Helvetica, sans-serif; }

.tareasCarpintero {
  width: 900px; }

html {
  height: 100%; }

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.container-fluid {
  padding: 0px; }

main .row {
  margin: 5px; }

.logoNaval {
  width: 200px; }

form h2 {
  color: black; }

form .form {
  background-color: #e0a70a;
  border: 5px solid black; }
